body {
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  text-align: center;
}

table {
  margin: 0 auto;
}

td {
  padding: 3px 5px;
}

label {
  display: inline-block;
  width: 70px;
}

.indented-p {
  margin-left: 129px;
}

#main-paragraph {
  display: inline-block;
  width: calc(100% - 114px);
  padding: 0 15px;
  box-sizing: border-box;
  vertical-align: top;
}

#menu {
  display: inline-block;
  vertical-align: top;
}
