h1 {
  text-align: center;
}

section {
  display: flex;
  justify-content: space-between;
  /*align-items: center;*/
}

section p {
  border: 1px solid blue;
  background-color: #eeffff;
  padding: 9px;
  width: calc(30% - 20px);
  /*display: inline-block;
  vertical-align: top;
  height: 100%;*/
}

/*section p:nth-last-of-type(2) {
  margin-left: 4.5%;
  margin-right: 4.5%;
}*/

@media (max-width:750px) {
  section {
    flex-direction: column;
  }

  section p {
    width: 100%;
  }
}
